server:
  port: 8763

spring:
  application:
    name: Service-Provider
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/smbms?serverTimezone=UTC&&useSSL=false
    username: root
    password: ok


eureka:
  client:
    service-url:
      defaultZone:  http://localhost:8761/eureka/
mybatis:
  mapper-locations: classpath:/mappers/*.xml
  configuration:
    auto-mapping-behavior: full

logging:
  level:
    com:
      zb:
        sp:
          dao:  debug
